.thumbnail-view {
    height: 75px;
}

.thumbnail-overlay {
    height: 75px;
    padding-right: 10px;
}

.overlay {
    background-color: #fff;
    border: 2px #bbb solid;
    border-radius: 7px;
    border-top-right-radius: 0px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.75);
    padding: 10px;
    display: none;
}
