<!doctype html>
<html ng-app="vedutaApp">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../build/veduta.css">
  </head>
  <body ng-controller="MainController as ctrl">
    <header>
        <div class="title">    
        Fränkische Ansichten
      </div>
    </header>
    <main>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-7">
            <div class="map-container">
              <div class=map-header>  
                <div class="search-container">
                  <form class="search-form form-inline">
                    <input type="text" class="form-control input-sm" placeholder="Ort in Franken" ng-model="ctrl.searchTerm"/>
                    <button type="submit" class="search-submit btn btn-primary btn-sm" ng-click="ctrl.search(ctrl.searchTerm)"
                        title="Suche starten">
                        &#xf002
                    </button>
                  </form>    
                </div>
                <div class="admin-unit-selected" ng-show="ctrl.adminUnitSelected.fullname">Ausgewählt: {{ctrl.adminUnitSelected.fullname}} 
                    <div class="fa fa-times-circle" title="Auswahl aufheben" ng-click="ctrl.unselectAdminUnit($event)"></div>
                </div> 
              </div>    
              <div id="map" ngeo-map="ctrl.map"></div>
              <div id="attribution"></div>
              <div class="geocoder-result-container" ng-show="ctrl.showGeocoderResult">
                  <div class="geocoder-result-title">
                    Suchergebnisse: {{ctrl.places.length}}
                    <div class="fa fa-times-circle geocoder-result-close" title="Trefferliste schließen" 
                      ng-click="ctrl.closeGeocoderList($event)">
                    </div>
                  </div>
                <ul class="geocoder-result-list">
                    <li class="geocoder-result-entry" title="Auf der Karte zeigen"
                                                      ng-repeat="place in ctrl.places" 
                                                      ng-click="ctrl.centerToPlace(place)"
                                                      ng-mouseenter="ctrl.geocodingHover(place)"
                                                      ng-mouseleave="ctrl.geocodingUnhover(place)">
                      <div class ="geocoder-result-text"> 
                        {{place.type}}: {{place.name}}
                      </div> 
                    </li>
                </ul>
                <p class="geocoder-result-attribution">
                Geodaten © <a href="http://www.openstreetmap.org/copyright">OpenStreetMap-Mitwirkende</a><br/>
                             über <a href="http://www.opencagedata.com">OpenCage Geo Services</a> 
                </p>
              </div>
            </div>
          </div>
            <div class="col-md-5">
              <div class="list">
              <table class="table table-condensed table-hover">
                <thead> 
                  <tr>
                    <td>
                      <div class="text-right"> 
                        <span ng-show="ctrl.debug">Ebene: {{ctrl.admin_long}} - Ansichten: {{ctrl.totalViews}}</span>
                        <span> Seite: {{ctrl.currentPage}}/{{ctrl.numPages}}</span>
                      </div>
                    </td>    
                  </tr>  
                </thead>
                <tfoot><tr><td></td></tr></tfoot>
                <tbody>    
                <tr class="list-row" ng-repeat="view in ctrl.views.slice(((ctrl.currentPage-1)*ctrl.itemsPerPage), 
                    ((ctrl.currentPage)*ctrl.itemsPerPage))" 
                    ng-mouseenter="ctrl.hover(view)" 
                    ng-mouseleave="ctrl.unhover(view)" 
                    ng-click="ctrl.zoomIn(view, $event)" 
                    title="{{ctrl.getTooltip(view)}}">
                  <td>
                    <div class="thumb-container"><img class="thumbnail-view" ng-src="{{view.icon}}" title="Detailansicht öffnen" ng-click="ctrl.thumbnailClicked(view, $event)"/></div> 
                    <div class="view-row">
                        <div id="title">{{view.title}}</div/>
                        <div ng-show="view.gmd">Gemeinde: {{view.gmd}}</div>
                        <div ng-show="view.lkr">Kreis: {{view.lkr}}</div>
                        <div ng-show="view.regbez">{{view.regbez}}</div>
                        <div>{{view.viewCount}}</div>
                    </div>
                  </td>  
                </tr>
                </tbody>  
              </table> 
              </div>
              <div class="text-center">
                <uib-pagination 
                  ng-model="ctrl.currentPage" 
                  items-per-page ="ctrl.itemsPerPage"
                  total-items="ctrl.totalViews"
                  max-size = 3
                  num-pages="ctrl.numPages"
                  boundary-links="true"
                  first-text="|&lt;"
                  previous-text="&lt;"
                  next-text="&gt;"
                  last-text="&gt;|"
                  ng-change="ctrl.pageChanged()"
                  template-url="template/pagination/pagination.html"
                ></uib-pagination>
              </div>    
            </div>    
          </div>
        </div>  
      </div>
    </main>
    <!-- <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-gettext/dist/angular-gettext.js"></script> 
    <script src="../node_modules/angular-ui-date/dist/date.js"></script> 
    <script src="../node_modules/ui-bootstrap-custom/ui-bootstrap-custom-tpls-1.3.2.min.js"></script> 
    <script src="/@?main=js/app.js"></script> -->
    <script src="../build/veduta.js"></script>   
  </body>
</html>

