/**
 * Styles for the map and OL3 controls.
 */
#map {
    height: 484px;
}
.ol-zoom {
    left: unset;
    top: unset;
    right: 0.5em;
    bottom: 0.5em;
}

.ol-attribution {
    top: 0.5em;
    bottom: unset;
}

#attribution {
  text-align: left;
}

#attribution ul {
    color: #000;
    font-size: 0.7rem;
    line-height: 1.375em;
    margin: 0;
    padding: 0;
}

#attribution li {
    display: inline;
    line-height: inherit;
    list-style: outside none none;
    color: #333;
}

#attribution li a {
    color: inherit;
}

.admin-unit-selected {
    min-height: 30px;
    padding: 5px;
}
