/**
 * Styles for the map and OL3 controls.
 */
#map {
    height: 484px;
}
.ol-zoom {
    left: unset;
    top: unset;
    right: 0.5em;
    bottom: 0.5em;
}


.veduta-geolocation {
    font-family: FontAwesome;
    right: 0.5em;
    top: unset;
    left: unset;
    bottom: 5.9em;
}

.ol-zoom-extent {
    font-family: FontAwesome;
    right: 0.5em;
    top: unset;
    left: unset;
    bottom: 4em;
}

.ol-control button {
  background: rgba(102,102,102,0.5);
}

.ol-control button:hover,
.ol-control button:focus {
  background: rgba(102,102,102,0.7);
}

.veduta-geolocation.activated button {
  color: rgba(77,77,77,1); 
}

.ol-control.ol-attribution {
    position: static
}

.ol-attribution {
    text-align: left;
}

.ol-attribution a {
  color: #333
}

.admin-unit-selected {
    min-height: 30px;
    padding: 5px;
}

span.fa-times-circle:focus,
span.fa-times-circle:hover {
  color: rgba(102,102,102,0.7);
}  

.fa-times-circle {
  cursor: pointer;  
  color: rgba(102,102,102,0.5);
}  
