/**
 * Styles for the table
 */
.list-row {
    line-height: 161px;
    min-height: 161px;
    height: 161px;
}

.thumb-container {
    float: left;
    width: 250px;
    margin-right: 5px;
}
.thumbnail-view {
    max-height: 150px;
    max-width: 250px;
    height: auto;
    width: auto;
}
