<div class="row">
  <div class="col-md-7">
      <div id="selected" class="text-left" ng-show="vm.adminUnitSelected.fullname">Ausgewählt: {{vm.adminUnitSelected.fullname}}</div>  
      <div id="map" ngeo-map="vm.map"></div>
  </div>
  <div class="col-md-5">
    <table class="table table-condensed table-hover">
      <thead> 
        <tr>
          <td colspan="2">
    <div class="text-right">Zoom: {{vm.center.zoom}} - Ebene: {{vm.admin_long}} - Ansichten: {{vm.totalViews}} Seite: {{vm.currentPage}}/{{vm.numPages}}</div>
        </td>    
      </thead>
      <tfoot>
        <tr>
          <td colspan="2" class="text-center">
            <pagination 
              ng-model="vm.currentPage" 
              items-per-page ="vm.itemsPerPage"
              total-items="vm.totalViews"
              max-size = 6
              num-pages="vm.numPages"
              previous-text="&lt;"
              next-text="&gt;"
              ng-change="vm.pageChanged()"
            ></pagination>
          </td>    
        </tr>    
      </tfoot>    
      <tbody>    
      <tr ng-repeat="view in vm.views.slice(((vm.currentPage-1)*vm.itemsPerPage), ((vm.currentPage)*vm.itemsPerPage))" ng-mouseenter="vm.hover(view)" ng-mouseleave="vm.unhover(view)" ng-click="vm.zoomIn(view, $event)">
          <td><img class="thumbnail-view" ng-src="{{view.icon}}" ng-click="vm.open(view, $event)"/></td> 
          <td class="view-row">
              <div id="title">{{view.title}}</div/>
              <div ng-show="view.gmd">Gemeinde: {{view.gmd}}</div>
              <div ng-show="view.lkr">Kreis: {{view.lkr}}</div>
              <div ng-show="view.regbez">{{view.regbez}}</div>
              <div>{{view.viewCount}}</div>
          </td>  
      </tr>
      </tbody>  
  </div>
</div>
