<div class="row">
  <div class="col-md-7">
    <openlayers  ol-center="center" width="100%" height="400px" custom-layers="true">
       <ol-layer ol-layer-properties="mapbox"></ol-layer>
       <ol-layer ol-layer-properties="viewpoints"></ol-layer>
    </openlayers>
  </div>
  <div class="col-md-5">
    <table class="table table-condensed table-hover">
      <thead> 
        <tr>
          <td colspan="2">
    <div class="text-right">Zoom: {{center.zoom}} - Cluster: {{admin}} - Ansichten: {{totalViews}} Seite: {{currentPage}}/{{numPages}}</div>
        </td>    
      </thead>
      <tfoot>
        <tr>
          <td colspan="2" class="text-center">
            <pagination 
              ng-model="currentPage" 
              total-items="totalViews"
              max-size = 6
              items-per-page = 5
              num-pages="numPages"
              ng-change="pageChanged()"
            ></pagination>
          </td>    
        </tr>    
      </tfoot>    
      <tbody>    
      <tr ng-repeat="view in views.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))" ng-mouseenter="hover(view)" ng-click="open(view)">
          <td><img class="thumbnail-view" ng-src="{{view.icon}}"/></td> 
          <td class="view-row">{{view.title}} </td>  
      </tr>
      </tbody>  
  </div>
</div>
<div>Zoom: {{center.zoom}} - Cluster: {{admin}} </div>
